@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c1324;
  font-family: 'Inter', sans-serif;
  color: #dce1fb;
}

.glass-panel {
  background: rgba(35, 41, 60, 0.8);
  backdrop-filter: blur(12px);
}
